@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #F8F7F6;
  --foreground: #212126;
  --accent: #EE994F
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #212126;
    --foreground: #F8F7F6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

* {
  box-sizing: border-box;
}

p {
  font-size: 16px;
  line-height: 150%;
  font-weight: lighter;
  margin-bottom: 3px;
}

h6 {
  font-size: 20px;
  letter-spacing: -0.5%;
  line-height: 140%;
}

h5 {
  font-size: 25px;
  letter-spacing: -0.5%;
  line-height: 130%;
}

h4 {
  font-size: 27px;
  letter-spacing: -1%;
  line-height: 110%;
}

h3 {
  font-size: 33px;
  letter-spacing: -1%;
  line-height: 110%;
}

h2 {
  font-size: 40px;
  letter-spacing: -1.5%;
  line-height: 110%;
}

h1 {
  font-size: 48px;
  letter-spacing: -2%;
  line-height: 100%;
}